@font-face {
  font-family: 'pt_sansbold';
  src: url('./../fonts/ptsans-bold-webfont.woff2') format('woff2'),
       url('./../fonts/PT_Sans/ptsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pt_sansregular';
  src: url('./../fonts/PT_Sans/ptsans-regular-webfont.woff2') format('woff2'),
       url('./../fonts/PT_Sans/ptsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}